<footer class="gtx-section gtx-section--primary gtx-section--footer">
  <img
    src="public/galleto-isotype-white.png"
    alt="Galleto isotype"
    class="gtx-isotype"
  />
  <span class="gtx-text gtx-text--right">
    © 2020. All rights reserved.Galleto
  </span>
  <div class="gtx-flex-container gtx-navbar--footer__container gtx-flex-column">
    <span class="gtx-text">Become a friend</span>
    <nav class="gtx-navbar gtx-navbar--footer">
      <ul class="gtx-navbar__options">
        <li>
          <a href="https://twitter.com/sirgalleto">Twitter</a>
        </li>
        <li>
          <a href="https://www.instagram.com/sirgalleto/">Instagram</a>
        </li>
        <li>
          <a href="http://github.com/sirgalleto/"> Github</a>
        </li>
      </ul>
    </nav>
  </div>
</footer>