<header>
  <nav class="gtx-navbar gtx-navbar--primary">
    <img src="public/galleto.png" alt="Galleto" class="gtx-logo" />
    <ul class="gtx-navbar__options">
      <li>
        <a href="./projects.html"> Projects</a>
      </li>
      <li>
        <a href="./thoughts.html"> Thoughts</a>
      </li>
      <li>
        <a href="./photos.html"> Photos</a>
      </li>
      <li>
        <a href="./contact.html"> Contact</a>
      </li>
    </ul>
  </nav>
</header>