<header>
  <nav class="gtx-navbar gtx-navbar--primary">
    <a href="index.html" class="gtx-invisible-anchor">
      <img src="public/galleto.png" alt="Galleto" class="gtx-logo" />
    </a>
    <ul class="gtx-navbar__options">
      <li>
        <a href="./projects.html"> Projects</a>
      </li>
      <li>
        <a href="http://medium.com/@sirgalleto"> Thoughts</a>
      </li>
      <li>
        <a href="./photos.html"> Photos</a>
      </li>
      <li>
        <a href="./contact.html"> Contact</a>
      </li>
    </ul>
  </nav>
</header>