{{!-- Limit this to 3 --}}
<div class="gtx-project-box__container">
  {{#each projects }}
    <a class="gtx-project-box" href="project.html?project={{name}}" data-aos="fade-up">
      <aside class="gtx-project-box__index">/ {{increment @index}}</aside>
      <span class="gtx-project-box__tag">{{type}}</span>
      <h2 class="gtx-project-box__title">{{name}}</h2>
    </a>
  {{/each}}
</div>