.gtx-section {
  z-index: 10;
  background-color: transparent;
  background:
    /* TODO: Fix hacky implementation of dots */ radial-gradient(
    circle,
    rgba(193, 192, 192, 0.4),
    transparent,
    transparent,
    transparent,
    transparent,
    transparent,
    transparent,
    transparent,
    transparent,
    transparent,
    transparent,
    transparent,
    transparent,
    transparent,
    transparent,
    transparent,
    transparent,
    transparent,
    transparent,
    transparent,
    transparent,
    transparent
  );

  background-size: calc(100vh / 20) calc(100vh / 20);
}

.gtx-section > * {
  z-index: 100;
  padding: 120px 85px;
}

.gtx-section--primary {
  background-color: rgb(93, 62, 247, 1);
  width: 100vw;
  height: 100vh;
}

.gtx-navbar {
  height: 68px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.gtx-navbar__options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}

.gtx-navbar__options li > a {
  margin: 5px;
  font-size: 1em;
  color: rgb(26, 18, 58);
  font-family: "Space mono";
  font-weight: 500;
  text-decoration: none;
  margin: 0 22px 0 22px;
}

.gtx-navbar__options li > a:hover {
  color: white;
}

.gtx-navbar__options li > a:visited {
  color: none;
}
