.gtx-title {
  font-family: "Oswald";
  font-size: 2em;
  text-transform: uppercase;
}

.gtx-title--main {
  width: 400px;
  font-size: 4em;
  font-weight: 300;
  line-height: 1.2em;
  color: white;
}

.gtx-text {
}

.gtx-text--hightlight {
  color: black;
  background: linear-gradient(0deg, white 46%, transparent 46%);
}
