/* Main definitions */
body {
  font-size: 16px;
  font-family: "Oswald", "Space Mono";
}

/* https://css-tricks.com/almanac/properties/s/scrollbar/ */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

a {
  font-weight: 700;
  color: #1b133c;
}

a:hover {
  color: white;
}

a::visited {
  color: white;
}
