.gtx-flex-container {
  display: flex;
}

.gtx-flex-left {
  justify-content: safe;
}

.gtx-flex-row {
  flex-direction: row;
}

.gtx-flex-row--reverse {
  flex-direction: row-reverse;
}

.gtx-flex-column {
  flex-direction: column;
}

.gtx-flex-column--reverse {
  flex-direction: column-reverse;
}

.gtx-unmargin {
  margin-left: 0;
}

.gtx-block {
  display: block;
}
